{% extends 'base.html' %}

{% block head %}
    <title>Settings page</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include 'header.html' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <div class="col-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field-wrapper">
                            {% if profile.avatar %}
                                <p>Avatar URL: {{ profile.avatar.url }}</p>
                                <label for="id_avatar" class="image-wrapper" id="image-wrapper">
                                    <img src="{{ profile.avatar.url }}" id="image-content"/>
                                </label>
                            {% else %}
                                <label for="id_avatar" class="image-wrapper" id="image-wrapper">
                                    <span style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; text-align: center;">Change Avatar</span>
                                </label>
                            {% endif %}

                            <input id="id_avatar" type="file" name="avatar" accept="image/*" class="image_input"/>
                            <div class="text-danger">
                                {{ form.avatar.errors }}
                            </div>
                        </div>
                        <div class="field-wrapper">
                            {{ form.bio.label_tag }} {{ form.bio }}
                            <div class="text-danger">
                                {{ form.bio.errors }}
                            </div>
                        </div>
                        <div>
                            <label for="id_photos" class="form-label">Upload up to 6 photos:</label>
                            <input name="photos" class="form-control" type="file" id="id_photos" accept="image/*"
                                   multiple>
                            {{ form.photos.errors }}
                            <div class="preview-wrapper">
                                {% for photo in profile.photos.all %}
                                    <div class="preview-item">
                                        <img src="{{ photo.image.url }}" alt="{{ photo.image.name }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="btn btn-primary d-block col-12 mt-2" type="submit">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        const imageWrapper = document.getElementById("image-wrapper");
        const imageInput = document.getElementById("id_avatar");

        if (imageInput) {
            imageWrapper.onclick = () => {
                imageInput.click();
            };

            imageInput.onchange = evt => {
                const [file] = imageInput.files;
                if (file) {
                    const newURL = URL.createObjectURL(file);
                    const imageElement = document.getElementById('image-content');
                    if (imageElement) {
                        imageElement.src = newURL;
                    } else {
                        const newImageElement = document.createElement('img');
                        newImageElement.src = newURL;
                        newImageElement.id = 'image-content';
                        imageWrapper.innerHTML = '';
                        imageWrapper.appendChild(newImageElement);
                    }
                }
            }
        }
    </script>
{% endblock %}
